@import "src/styles/variables";

.info {
  padding: 150px 0;
  position: relative;
}

.info:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/img/info/info-bg.png");
  background-size: cover;
  background-position-y: 100%;
  opacity: 0.5;
  z-index: -1;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__title {
  font-family: "Namu-1910", sans-serif;
  color: $main-color;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}

.info__text {
  font-family: "Namu-pro", sans-serif;
  text-align: center;
  font-size: 32px;
  margin-bottom: 70px;
  line-height: 1.5;
}

.info__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Namu-1910", sans-serif;
  text-align: center;
  font-size: 40px;
}

.info__link:hover {
  -webkit-text-stroke-color: $main-color;
  -webkit-text-fill-color: $bg-color;
}

.info__text-link {
  position: relative;
  margin: 0 10px;
  display: inline-block;
}

.info__text-link:after {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  bottom: -5px;
  background-color: $sub-color;
  transition: width $transition, left $transition, transform $transition;
}

.info__text-link:hover:after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.info__phone {
  position: relative;
  bottom: 8px;
  animation-name: phone;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes phone {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: $mobile-width) {
  .info {
    padding: 20px 0;
  }

  .info__title {
    font-size: 45px;
    margin-top: 20px;
  }

  .info__link {
    gap: 10px;
    order: -1;
    align-self: flex-start;
    font-size: 20px;
    -webkit-text-stroke-width: 0;
  }

  .info__phone {
    order: -1;
    width: 50px;
    height: 45px;
  }

  .info__text {
    font-size: 27px;
  }
}
