@import 'src/styles/variables';

.phone {
  background-color: $bg-sub-color;
  padding: 20px 0;
}

.phone__wrapper {
  text-align: center;
}

.phone__number {
  font-size: 32px;
}

@media screen and (max-width: $mobile-width) {
  .phone__number {
    font-size: 28px;
  }
}
