@import "src/styles/variables";

.section.error {
  padding-top: 100px;
}
.error__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.error__title {
  text-align: center;
  margin-top: 20px;
  font-size: 19px;
}
.error__link-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.error__link {
  display: block;
  background-color: #fff;
  padding: 10px 20px;
  color: $link-color-hover;
  cursor: pointer;
  border-radius: 5px;
}
