@font-face {
  font-family: "Namu-1910";
  src: url("../fonts/NAMU-1910.eot");
  src: url("../fonts/NAMU-1910.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NAMU-1910.woff2") format("woff2"),
    url("../fonts/NAMU-1910.woff") format("woff"),
    url("../fonts/NAMU-1910.ttf") format("truetype"),
    url("../fonts/NAMU-1910.svg#Namu-1910") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Namu-pro";
  src: url("../fonts/NAMU-Pro.eot");
  src: url("../fonts/NAMU-Pro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NAMU-Pro.woff2") format("woff2"),
    url("../fonts/NAMU-Pro.woff") format("woff"),
    url("../fonts/NAMU-Pro.ttf") format("truetype"),
    url("../fonts/NAMU-Pro.svg#Namu-pro") format("svg");
  font-weight: normal;
  font-style: normal;
}
