$container: 1360px;

$main-color: #ffffff;
$sub-color: #fbe8c3;
$sub-title-color: #283040;
$link-color-hover: #d90404;

$bg-color: #283040;
$bg-sub-color: rgba(159, 19, 0, 0.5);
$bg-item-color: #9f1300;
$bg-card: rgba(40, 48, 64, 0.8);

$nav-size: 20px;
$font-size: 16px;

$mobile-width: 767px;

$transition: 0.5s;
