@import 'src/styles/variables';

.steps {
  padding-bottom: 0;
}

.steps__list {
  display: flex;
  gap: 40px;
  justify-content: center;
  background-color: $bg-sub-color;
  padding: 80px 0;
}

.steps__item {
  font-family: 'Namu-1910', sans-serif;
  font-size: 26px;
  position: relative;
}

.steps__item:not(:last-child):after {
  content: '';
  position: absolute;
  display: block;
  width: 3px;
  height: 55px;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  background-color: $sub-color;
}

@media screen and (max-width: 950px) {
  .steps__list {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }
  .steps__item {
    font-size: 24px;
  }
  .steps__item:not(:last-child):after {
    width: 150px;
    height: 3px;
    right: 50%;
    transform: translate(50%, 0);
    top: calc(100% + 22px);
  }
}
