@import "src/styles/variables";

.blog-card {
}
.blog-card__img {
  width: 100%;
}
.blog-card__wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog-card__title {
  color: #000000;
  font-family: "Namu-1910", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 100%;
}
.blog-card__data {
  color: #000000;
  text-align: left;
  font-size: 12px;
  margin-bottom: 10px;
}
.blog-card__text {
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
}
.blog-card__text p,
.blog-card__text li {
  color: #000000;
}
.blog-card__link {
  color: #000000;
  text-align: left;
  font-size: 12px;
  background-color: $bg-item-color;
}
