.rites__wrapper {
  position: relative;
  padding: 30px 0;
}
.rites__wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/img/fog.png");
  background-size: cover;
  background-position-y: 100%;
  opacity: 0.5;
  z-index: -1;
}
