@import "src/styles/variables";

.footer {
  padding: 160px 0 0;
}
.footer__text {
  padding: 10px 0;
  text-align: center;
  background-color: $bg-sub-color;
  font-family: "Namu-1910", sans-serif;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 220px 0 0;
  }
}

@media screen and (max-width: 980px) {
  .footer {
    padding: 320px 0 0;
  }
}

@media screen and (max-width: 840px) {
  .footer {
    padding: 60px 0 0;
  }
}
